@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="2"
                     />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>
